*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
.background-image{
    height: 100%;
   width: 100%;
   background-image: url('images/vegetables-set-left-black-slate\ 1.png');        
   background-position: center;
       background-size: cover;
       position: absolute;
   }
   .background-image1{
   height:100%;
   width:100%;
   background-image: url('images/vintage-old-rustic-cutlery-dark\ 1.png');        
   background-position: center;
       background-size: cover;
       position: absolute;
   }
   .background-image2{
    height:100%;
    width:100%;
    background-image: url('images/top-view-food-frame-with-copy-space\ 1.png');        
    background-position: center;
        background-size: cover;
        position: absolute;
    }
      
/*nav{
    position: relative;
    width:100%
    height:75px;
    background-color:  #C09A7E;;
    line-height: 75px;
    padding: 0px 50px;
    position:relative; 
    z-index: 10;
}
*/
.navbar{
    background-color: black;
}
.logo{
margin-left: 1%;
font-style: initial;
font-weight: 900;
font-size: 20px;
line-height: 80px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;
color:#fff;

}
.form-box{
   width : 360px;
    height : 400px;
    position : relative;
    margin-top: 6%;
    margin-left: 7%;
    background:#fff;
    padding : 5px;
    overflow: hidden;
    border-radius: 5%;
}
.button-box{
    width: 120px;
    margin: 30px 120px;
    position: relative;
    border-radius: 30px;
}
.toggle-btn{                   
    padding:10px 30px;
    cursor:pointer;
    background:transparent;
    border:0;
    outline:none;
    position:relative;
    color: #fff;
    }

#btn{
    top:0;
    left:0;
    position:absolute;
    width:110px;
    height:100%;
    background:black;
    border: radius 0;
    transition:.5s;
}
.input-group{
    top:120px;
    position:absolute;
    width:280px;
    transition:.5s;
}
.input-field{
   width:100%;
    padding:10px 0;
    margin:5px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    border-bottom:1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    border-radius: 5%;
  width:100%;
   padding:5px 80px;
   cursor:pointer;
   display:block;
   margin:auto;
  background:black;
  /*background-color: black;*/
   border:0;
   outline:none;
   border-radius:0;
   color: #fff;
   font-weight: 400;
font-size: 24px;
}
.chech-box{
   margin:30px 10px 30px 0;
}
.span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
.item1{
position: absolute;
width: 350px;
height: 350px;
left: 230px;
top: 111px;
background: #FFFFFF;
box-shadow: 4px 7px 4px #FFFFFF;
border-radius: 30px;}

.item2{
position: absolute;
width: 350px;
height: 350px;
left: 900px;
top: 111px;
background: #FFFFFF;
box-shadow: 4px 7px 4px #FFFFFF;
border-radius: 30px;
}
.front{
position: absolute;
left: 34.75%;
right: 33.75%;
top: 8.5%;
bottom: 50%;
}
.front1{
position: absolute;
left: 44.17%;
right: 3.08%;
top: 76.13%;
bottom: 3.12%;
}
.front2{
    position: absolute;
left: 48.03%;
right: 26.57%;
top: 80.8%;
bottom: 27.79%;
}
.front3{
    position: absolute;
    width: 168px;
    height: 69px;
    left: 103px;
    top: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36.6479px;
    line-height: 59px;
}
.front4{
    position: absolute;
    width: 168px;
    height: 40px;
    left: 113px;
    top: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36.6479px;
    line-height: 59px;
}
.need{
    font-size: small;
    padding:  20px 0 0 0;
}
.need a{
    color: blue;
    text-decoration: none;
}